<ion-header class="header">
  <ion-toolbar class="toolbar">
    <ion-title class="title">Nuovo progetto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">

  <ion-list class="input-list">

    <ion-card>
      <ion-item class="input-item" lines="none">
        <ion-input class="input" type="text" placeholder="Inserisci nome del progetto" clearInput="true" [(ngModel)]="progetto.nomeProgetto"></ion-input>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item class="input-item" lines="none">
        <ion-textarea class="input" type="text" placeholder="Inserisci una descrizione del progetto" clearInput="true" [(ngModel)]="progetto.descrizione"></ion-textarea>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item class="input-item" lines="none">
        <ion-label>Categoria</ion-label> 
        <ion-select interface="popover" (ionChange)="setCategoria($event)" okText="Seleziona" cancelText="Annulla">
          <ion-select-option *ngFor="let categoria of categorie">{{categoria.nomeCategoria}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card>

    <!-- ERRORS -->

    <ion-card *ngIf="erroreCreazioneProgetto">
      <ion-item class="input-item-error" lines="none">
        <ion-input class="login-error" value="Errore nella creazione del progetto, riprovare." readonly></ion-input>
      </ion-item>
    </ion-card>

    <ion-button *ngIf="creaProgettoAttivo()" expand="block" (click)="creaProgetto()">Crea progetto</ion-button>
    <ion-button *ngIf="!creaProgettoAttivo()" expand="block" disabled>Crea progetto</ion-button>
  </ion-list>

</ion-content>
