ion-content {
    text-align: center;

    .input-list {
        background-color: rgb(22, 22, 24);
        margin-top: 5%;
        margin-left: 2%;
        margin-right: 2%;

        .input-item-error {
            --background: rgb(22, 22, 24);
            
            .login-error {
                --background: rgb(22, 22, 24);
                color: red;
            }
        }

        .input-item {
            --background: rgb(75, 75, 75);
            color: white;

            .input{
                text-align: left;
                color: rgb(206, 206, 206);
            }
        }
    }

    ion-button{
        margin-left: 2%;
        margin-right: 2%;
    }

    ion-row{
        background-color: rgb(75, 75, 75);
    }

    ion-col{
        background-color: rgb(75, 75, 75);
    }

    .icon-small{
        --ionicon-stroke-width: 16px;
    }
}