<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="\assets\teamUpLogo.jpg" width="30" height="30" alt="" loading="lazy">
      </a>
    <a class="navbar-brand" href="#">TeamUp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Nuovo Progetto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">I Miei Progetti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Ricerca Avanzata</a>
            </li>
        </ul>
        <li class="nav-item dropdown no-dot" *ngIf="isLoggedIn === 'true'">
            <a class="dropdown-toggle btn-outline-light nav-profile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <!--{{utente.nome}} {{utente.cognome}}--> Michele Verriello
            </a>
            <div class="dropdown-menu" style="margin-right: 2px;" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Modifica Profilo</a>
                <a class="dropdown-item" href="#">Logout</a>
            </div>
        </li>
    </div>
  </nav>