.field {
    text-align: right;
    color: white;
}

section {
    text-align: center;
}

.card {
    box-shadow:none !important;
    --background: rgb(22, 22, 24);
}

.activated {
    background-color: blue;
}

.input-item {
    --background: rgb(22, 22, 24);
    color: white;
}

.input-item-edit {
    --background: rgb(75, 75, 75);
    color: white;
}

.list {
    background-color: rgb(22, 22, 24);
}

.input-item-error {
    --background: rgb(22, 22, 24);
    
    .login-error {
        --background: rgb(22, 22, 24);
        color: red;
    }
}