ion-list {
    background-color: rgb(22, 22, 24);
    margin-top: 5%;
}

.main-card {
    position: relative;
}

.button-card {
    background-color: rgb(22, 22, 24);
}

.item-list {
    border: 1px solid grey;
    color: white;
}